<h1>Sign in</h1>

<input
  type="text"
  name="name"
  [(ngModel)]="name"
  placeholder="name"
  class="form-control"
/>
<br />

<input
  type="email"
  name="email"
  [(ngModel)]="email"
  class="form-control"
  placeholder="email"
/>
<br />

<input
  type="text"
  name="username"
  [(ngModel)]="username"
  class="form-control"
  placeholder="username"
/><br />

<input
  type="password"
  name="password"
  [(ngModel)]="password"
  class="form-control"
  placeholder="password"
/><br />
<button class="btn btn-primary" (click)="handleLogin()">Sign in</button>
